@import url("components/navbars.css");
@import url("components/posts.css");
@import url("components/profile.css");
@import url("components/new_post.css");
@import url("components/form_log_sign.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #0b2f42; 
}
   
::-webkit-scrollbar-thumb {
    background: #144f6f; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #0c3d60; 
}

body {
    display: grid;
    grid-template-columns: 250px 50vw auto;
    font-family: Farro;
    color: white;
    background: #0b2f42;
    background: linear-gradient(#0b2f42 0%, #104460 50%, #0b2f42 100%);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    font-family: 'Montserrat', 'sans-serif';
    margin-left: 2px;
    width: 200px;
    height: 50px;
    color: white;
    background: linear-gradient(to left, #04121a 50%, #0b8cd6 50%) right;
    border: none;
    border-radius: 10px;
    background-size: 200% 100%;
    transition: all .5s ease-in;
}

.button:hover {
    background-position: left;
}



.blur {
    filter: blur(3px);
}

.blocked {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 55px;
    left: 230px;
    z-index: 2;
    height: 100%;
    width: 55vw;
    text-align: center;
}

.blocked h2 {
    margin-top: 300px;
}

.comingsoon {
    margin: auto;
}

@media (max-width: 1010px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .navbar {
        display: none;
    }
    .side-bar {
        display: none;
    }
    .nav-bar-mobile {
        display: flex;
    }
    .side-bar-mobile {
        display: flex;
    }
    .blocked {
        left:0;
        top:0;
        width: 100vw;
    }
    .posts {
        top: 0;
    }
    .posts, .post {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 10px;
        width: 80vw;
    }
    .tags-content {
        width: 80vw;
    }
    .profile-part {
        display: none;
    }
    .new-post-content {
        width: 75%;
        right: 12.5%;
    }
}

.espace {
    height: 200vh;
}